<div class="pokedex-pokemon container">
  <mat-card class="pokedex-pokemon-card">
    <div class="pokedex-pokemon-card-section">
      <img class="pokemon-image" [src]="pokemonImage">
      <div class="pokemon-info">
        <div class="pokemon-name">{{ pokemon.name || 'name'}}</div>
        <div class="pokemon-id">#{{ pokemon.id || 'id'}}</div>
      </div>
      <div class="pokemon-type-container">
        @for (type of pokemon.types; track type) {
          <div class="pokemon-type" [class]="type + '-type'">{{ type }}</div>
        }
      </div>
    </div>
    <div class="middle">
      <div class="pokedex-pokemon-title">ENTRY</div>
      <div class="pokemon-description">{{ pokemon.flavorText }}</div>
      <div class="pokedex-pokemon-title">ABILITIES</div>
      <div class="pokemon-ability-container">
        @for (ability of pokemon.abilities; track ability) {
          <div class="pokedex-pokemon-value">{{ ability || 'ability' }}</div>
        }
        @if(pokemon.hidden_abilities && pokemon.hidden_abilities.length > 0) {
          @for (ability of pokemon.hidden_abilities; track ability) {
            <div class="pokedex-pokemon-value ability-hidden">
              {{ ability || 'ability' }}
              <mat-icon fontIcon="visibility_off" class="ability-hidden-icon"></mat-icon>
            </div>
          }
        }
      </div>
      <div class="pokemon-details">
        <div class="pokemon-stat">
          <div class="pokedex-pokemon-title">HEIGHT</div>
          <div class="pokedex-pokemon-value">{{ pokemon.height || 'height' }}m</div>
        </div>
        <div class="pokemon-stat">
          <div class="pokedex-pokemon-title">WEIGHT</div>
          <div class="pokedex-pokemon-value">{{ pokemon.weight || 'weight' }}kg</div>
        </div>
      </div>
      <div class="pokedex-pokemon-title">BASE EXP</div>
      <div class=""></div>
    </div>
    <div class="right">
      <div class="pokedex-pokemon-title">BASE STATS</div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">HP</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.hp || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value hp" [style.width]="pokemonStatWidths.hp"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">ATK</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.atk || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value atk" [style.width]="pokemonStatWidths.atk"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">DEF</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.def || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value def" [style.width]="pokemonStatWidths.def"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPA</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spa || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spa" [style.width]="pokemonStatWidths.spa"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPD</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spd || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spd" [style.width]="pokemonStatWidths.spd"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPE</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spe || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spe" [style.width]="pokemonStatWidths.spe"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>