<div class="pokedex-pokemon container">
  <mat-card class="pokedex-pokemon-card">
    <div class="left">
      <img class="front-sprite" src="">
      <img class="back-sprite" src="">
      <div class="img-carousel">
        <img class="sprite" src="">
      </div>
      <div class="pokemon-details">
        <div>Height: {{ pokemon.height || 'height' }}m</div>
        <div>Weight: {{ pokemon.weight || 'weight'}}kg</div>
      </div>
    </div>
    <div class="right">
      <div class="pokemon-header">
        <div class="pokemon-name">#{{ pokemon.id || 'id'}} {{ pokemon.name || 'name'}}</div>
        @for (type of pokemon.types; track type) {
          <div class="pokemon-type" [class]="type">{{ type }}</div>
        }
      </div>
      <div class="pokemon-abilities">
        <div>Abilities:</div>
        @for (ability of pokemon.abilities; track ability) {
          <div class="pokemon-ability">{{ ability || 'ability' }}</div>
        }
        @if(pokemon.hidden_abilities && pokemon.hidden_abilities.length > 0) {
          <div>Hidden Abilities:</div>
          @for (ability of pokemon.hidden_abilities; track ability) {
            <div class="pokemon-ability">{{ ability || 'ability' }}</div>
          }
        }
      </div>
      <div class="pokemon-stats">
        <div class="pokemon-stat-left">
          <div>HP: {{ pokemon.stats?.hp || '0' }}</div>
          <div>Atk: {{ pokemon.stats?.atk || '0' }}</div>
          <div>Def: {{ pokemon.stats?.def || '0' }}</div>
        </div>
        <div class="pokemon-stat-right">
          <div>SpA: {{ pokemon.stats?.spa || '0' }}</div>
          <div>SpD: {{ pokemon.stats?.spd || '0' }}</div>
          <div>Spe: {{ pokemon.stats?.spe || '0' }}</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>