<div class="home container">
  <div class="logo-container">
    <app-svg-icon icon="pokeball" size="home"></app-svg-icon>
    <div class="title">PokéDex</div>
    <button mat-flat-button class="button pokedex-button" routerLink="pokedex">Go to PokéDex</button>
  </div>
  <div class="header">Hello!</div>
  <div class="subtitle">This is a simple project that displays information retrieved from <a href="https://pokeapi.co/">PokeApi</a></div>
  <div class="subtitle">Have fun and feel free to explore!</div>
</div>