$types: (
  bug: #91A119,
  dark: #624D4E,
  dragon:#5060E1,
  electric: #FAC000,
  fairy: #EF70EF,
  fighting: #FF8000,
  fire: #E62829,
  flying: #81B9EF,
  ghost: #704170,
  grass: #3FA129,
  ground: #915121,
  ice: #3DCEF3,
  normal: #9FA19F,
  poison: #9141CB,
  psychic: #EF4179,
  rock: #AFA981,
  steel: #60A1B8,
  water: #2980EF,
);

$types-50: (
  bug: #DBE973,
  dark: #B5A1A2,
  dragon:#A7AFF0,
  electric: #FFE17D,
  fairy: #F7B7F7,
  fighting: #FFC080,
  fire: #F29494,
  flying: #C0DCF7,
  ghost: #C296C2,
  grass: #95E084,
  ground: #E0A578,
  ice: #9EE6F9,
  normal: #CFD0CF,
  poison: #C8A0E5,
  psychic: #F7A0BC,
  rock: #D7D4C0,
  steel: #AFD0DB,
  water: #94BFF7,
);

$stats: (
  hp: #69DC12,
  atk: #EFCC18,
  def: #E86412,
  spa: #14C3F1,
  spd: #4A6ADF,
  spe: #D51DAD,
);

$class: (
  physical: #EB5628,
  special: #375AB2,
  status: #828282,
);

@each $key, $color in $types {
  .#{$key}-type {
    background-color: #{$color};
    color: white;
  }
}

@each $key, $color in $types-50 {
  .#{$key}-type-50 {
    background-color: #{$color};
    color: white;
  }
}

@each $key, $color in $stats {
  .#{$key}-stat {
    background-color: #{$color};
  }
}

@each $key, $color in $class {
  .#{$key}-class {
    background-color: #{$color};
  }
}