.evolution-tree {
  display: flex;
  align-items: center;
  .evolution-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    cursor: pointer;

    .evolution-img {
      border-radius: 100%;
      height: 100%;
    }
  
    .evolution-name {
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  .evolution-arrow {
    font-weight: 500;
    margin-right: 8px;
    margin-left: 8px;
  }
}