.svg-icon {
  &.s {
    height: 30px;
    width: 30px;
  }

  &.m {
    height: 36px;
    width: 36px;
  }

  &.l {
    height: 50px;
    width: 50px;
  }

  &.xl {
    height: 60px;
    width: 60px;
  }

  &.home {
    height: 120px;
    width: 120px;
  }

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }

  &.primary {
    color: var(--mat-sys-primary);
  }
}