.pokedex-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  &-input {
    width: 100%;
    background-color: white;
    height: 48px;
    border-radius: 6px;
    outline: none;
    box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level1));
    border: none;
    padding: 0px 16px;
    font-size: 20px;
  }
}