.pokedex {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }

  .pokedex-header {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 48px;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
}