<div class="pokedex container" appInfiniteScroll (endReached)="loadNext($event)" [canLoad]="!isLoading">
  <div class="pokedex-header">Look up a Pokemon!</div>
  <app-pokedex-search-bar (searchEvent)="searchPokemon($event)"></app-pokedex-search-bar>
  <div class="pokedex-search-results">
    @for(pokemon of allPokemon; track pokemon.name) {
      <app-pokedex-search-card [pokemonResource]="pokemon"></app-pokedex-search-card>
    }
  </div>
  @if (!atLimit) {
    <div class="pokedex-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>