<div class="pokedex-entry container">
  <mat-card class="pokedex-entry-card">
    <div class="pokedex-entry-card-section center-h center-v">
      <img class="pokemon-image" [src]="pokemonImage">
      <div class="pokemon-name">
        <div class="pokemon-name-text">{{ pokemon.name || 'name'}}</div>
        <div class="pokemon-name-id">#{{ pokemon.id || 'id'}}</div>
      </div>
      <div class="pokemon-type">
        @for (type of pokemon.types; track type) {
          <div class="pokemon-type-chip" [class]="type + '-type'">{{ type }}</div>
        }
      </div>
    </div>
    <div class="pokedex-entry-card-section center-h">
      <div class="pokedex-entry-title">ENTRY</div>
      <div class="pokemon-description">{{ pokemon.flavorText }}</div>
      <div class="pokedex-entry-title">ABILITIES</div>
      <div class="pokemon-ability">
        @for (ability of pokemon.abilities; track ability) {
          <div class="pokedex-entry-value-half">{{ ability || 'ability' }}</div>
        }
        @if(pokemon.hidden_abilities && pokemon.hidden_abilities.length > 0) {
          @for (ability of pokemon.hidden_abilities; track ability) {
            <div class="pokedex-entry-value-half ability-hidden">
              {{ ability || 'ability' }}
              <mat-icon fontIcon="visibility_off" class="ability-hidden-icon"></mat-icon>
            </div>
          }
        }
      </div>
      <div class="pokemon-measurement">
        <div class="pokemon-measurement-section">
          <div class="pokedex-entry-title">HEIGHT</div>
          <div class="pokedex-entry-value">{{ pokemon.height || 'height' }}m</div>
        </div>
        <div class="pokemon-measurement-section">
          <div class="pokedex-entry-title">WEIGHT</div>
          <div class="pokedex-entry-value">{{ pokemon.weight || 'weight' }}kg</div>
        </div>
      </div>
      <div class="pokedex-entry-title">BASE EXP</div>
      <div class="pokedex-entry-value-half">{{ pokemon.baseExp || 'exp'}}</div>
      @if (hasEvolutions) {
        <div class="pokedex-entry-title">EVOLUTION TREE</div>
        <div class="pokemon-evolution-tree">
          <app-evolution-tree [evolutionTree]="pokemon.evolutionTree"></app-evolution-tree>
        </div>
      }
    </div>
    <div class="pokedex-entry-card-section">
      <div class="pokedex-entry-title">BASE STATS</div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">HP</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.hp || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value hp" [style.width]="pokemonStatWidths.hp"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">ATK</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.atk || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value atk" [style.width]="pokemonStatWidths.atk"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">DEF</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.def || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value def" [style.width]="pokemonStatWidths.def"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPA</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spa || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spa" [style.width]="pokemonStatWidths.spa"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPD</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spd || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spd" [style.width]="pokemonStatWidths.spd"></div>
          </div>
        </div>
      </div>
      <div class="pokemon-stat">
        <div class="pokemon-stat-title">SPE</div>
        <div class="pokemon-stat-value-container">
          <div class="pokemon-stat-value-title">{{ pokemon.stats?.spe || '0' }}</div>
          <div class="pokemon-stat-bar-container">
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-divider"></div>
            <div class="pokemon-stat-bar-value spe" [style.width]="pokemonStatWidths.spe"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>