.pokedex-entry {
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    align-items: center;
    justify-content: center;

    &-h {
      align-items: center;
    }

    &-v {
      justify-content: center;
    }
  }

  .space-between {
    align-content: space-between;
    justify-content: space-between;
    &-h {
      align-items: center;
    }

    &-v {
      justify-content: center;
    }
  }

  .wrap {
    flex-wrap: wrap;
  }

  &-title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 20px;
  }

  &-value {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #e5e7eb;
    font-weight: 500;
    width: 100%;
    height: 42px;
    text-transform: capitalize;
  }

  &-section {
    width: (33% - 6.6%);
    padding-left: 3.3%;
    padding-right: 3.3%;
    display: flex;
    flex-direction: column;
  }

  &-subsection {
    display: flex;
    margin-bottom: 24px;

    &.col {
      flex-direction: column;
    }
  }

  &-division {
    width: 48%;
  }

  &-card {
    width: 100%;
    padding: 36px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ffffff;

    .pokemon-image {
      width: 100%;
    }

    .pokemon-name {
      font-size: 36px;
      font-weight: 600;
      text-transform: capitalize;
    }

    .pokemon-id {
      margin-left: 12px;
      font-size: 24px;
      font-weight: 600;
      text-transform: capitalize;
      color: #bbbbbb;
    }

    .pokemon-type {
      border-radius: 6px;
      text-transform: capitalize;
      padding: 4px 8px;
      margin-right: 12px;
    }

    .pokemon-description {
      padding-bottom: 16px;
      border-bottom: 1px solid #e5e7eb;
      font-size: 18px;
    }

    .ability-hidden {
      position: relative;

      &-icon {
        position: absolute;
        top: auto;
        bottom: auto;
        right: 12px;
        color: #bbbbbb;
      }
    }
  }
}